.yang-login-footer{
  height: 450px;
  line-height: 60px;
  width: 61%;
  background: url(../../assets/img6.jpg) no-repeat 0;
  padding-top: 100px;
  padding-left: 300px;
  padding-right: 300px;
}
.yang-login-foot{
  height: 300px;
  background: darkslategrey;
  width: 25%;
  padding-right: 140px;
  margin-left: 700px;
  margin-top: 10px;
  align-content: center;
}
.yang-login-form{
  height: 250px;
  padding-top: 50px;
}
.yang-font .el-form-item__label{
  color: ghostwhite;
  font-family: 仿宋;
  font-size: 15px;
}

